body {
  background: #CBF3F0;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}
a{
  color: white;
}

.space{
  margin-right: 70px;
}

.btn-icon {position: relative;
    left: -9px;
    display: inline-block;padding: 2px 8px;
    background: rgba(0,0,0,0.15);
    border-radius: 3px 0 0 3px;
    color: white;
  font-size: 14px;}
  .btn-icon-add {position: relative;
      left: -9px;
      display: inline-block;padding: 6px 12px;
      background: rgba(0,0,0,0.15);
      border-radius: 3px 0 0 3px;
      color: white;
    font-size: 14px;}
  .btn-add  {
    padding-top: 0;
    padding-bottom: 0;
   background-color:#337ab7;
   color: white;
   font-size: 14px;
   float: right;
   }
.btn-edit  {
  padding-top: 0;
  padding-bottom: 0;
 background-color: #5cb85c;
 color: white;
 font-size: 14px;
 }
 .btn-delete {
   padding-top: 0;
   padding-bottom: 0;
  background-color: #d9534f;
  color: white;
  font-size: 14px;
  }
.btn { margin-bottom:5px;font-size: 14px; }
.container-content{
  margin-top: 60px;
  margin-left: 250px;
}
.Main {
  color: white;
  font-family: sans-serif;
  font-size: 28px;
}
.Main:hover , .Main:visited{
  color: white;
  text-decoration: none;
}

.bg-steel {
  background-color: #FF9F1C;
}
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
.site-header .navbar-nav .nav-link {
  color:white ;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
html {
     visibility: visible;
     opacity: 1; }


.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: rotate(165deg);
}
.loader:before, .loader:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.25em;
  transform: translate(-50%, -50%);
}
.loader:before {
  animation: before 2s infinite;
}
.loader:after {
  animation: after 2s infinite;
}

@keyframes before {
  0% {
    width: 0.5em;
    box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
  }
  35% {
    width: 2.5em;
    box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75);
  }
  70% {
    width: 0.5em;
    box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75);
  }
  100% {
    box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
  }
}
@keyframes after {
  0% {
    height: 0.5em;
    box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
  }
  35% {
    height: 2.5em;
    box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75);
  }
  70% {
    height: 0.5em;
    box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75);
  }
  100% {
    box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
  }
}
/**
 * Attempt to center the whole thing!
 */
html,
body {
  height: 100%;
}

.loader {
  position: absolute;
  top: calc(50% - 1.25em);
  left: calc(50% - 1.25em);
}